

body{
    background-color: rgb(173, 162, 162);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.wrap{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.msg{
    font-family: sans-serif;
    font-size: 15px;
    color: yellow;
}

.input{
    width: 300px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 10px;
    padding-inline:50px;
    font-size: 20px;
    font-weight: bold;
}

.btn{
    width: 60px;
    height: 35px;
    font-style: bold;
    background-color: yellow;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px;
}

.input:focus{
    outline: none;
}

a:visited,a:link{
    color: black;
    text-decoration: none;

}
.content{
    margin-top: 50px;
    margin-inline: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 220px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

.card:hover{
    box-shadow: 0 0 20px;
}